# Jupyter Notebook
.ipynb_checkpoints
__pycache__/

# Environments
.venv
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints

# Custom
*draft.ipynb
my*.ipynb
myData
*/myData
myModels
*/myModels
myTemp
*/myTemp
myVis
*/myVis

.DS_Store
